<p>race works!</p>
<div class="container" *ngIf="race">
    <img src="amoba.png" class="img-fluid">
    <div class="row">
        <div class="col">
            {{race|json}}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{student|json}} 
        </div>
        <div class="col">
            {{race.res.winner}} ki nyer meg amőba versenyt?
        </div>
    </div>
    <ng-template *ngFor="let student of race.res.players">
        <div (click)="getStudent()" class="link">
            <a routerLinkActive="active" *ngFor="let student of race.res.players" [routerLinkActiveOptions]="{exact: true}" routerLink="race">Amoba</a>
        </div>
    </ng-template>
</div>